/***************/
/*HERO SECTION*/
/***************/
.section-hero-course {
  background-color: #f1faf6;
  padding: 4.8rem 0 4.8rem 0;
}

.hero-course {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1.8rem;
  align-items: center;
  text-align: center;
}

.heading-description {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-img-box-course {
  align-items: center;
}
.hero-img-course {
  width: 50%;
}

.highlight {
  position: relative;
}

.highlight::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 100%;
  z-index: 1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #39b385, #63b992);
}

/***************/
/*TEAM SECTION*/
/***************/

.section-team-course {
  padding: 4.8rem 0;
  transition: transform 1s, opacity 1s;
}
.alighn {
  text-align: center;
}

.team-number-course {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.course-icon-new {
  height: 8.6rem;
  width: 8.6rem;
}
.team-description {
  font-size: 1.8rem;
  line-height: 1.8;
  /* text-align: justify; */
}
.team-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.team-img-box::before,
.team-img-box::after {
  content: "";
  display: block;
  /* border-radius: 50%; */
  position: absolute;
  top: 70%;
  left: 37%;
  transform: translate(-50%, -50%);
}
/* .team-img-box::before {
  width: 90%;
  /* height: 90%; */
/* padding-bottom: 90%;
  background-color: #f1faf6;
  z-index: -2;
}  */

.team-img-box::after {
  width: 65%;
  padding-bottom: 65%;
  background-color: #63b992;
  z-index: -1;
}

.team-img {
  width: 60%;
}
.all-lectors {
  font-size: 1.8rem;
}
/* TABLE COURSE ONE*/
table.customTableOne,
table.customTableTwo {
  width: 100%;
  margin-top: 2rem;
  background-color: #555;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #555;
  border-style: solid;
  color: #555;
}

table.customTableOne td,
table.customTableOne th {
  border-width: 1px;
  border-color: #555;
  border-style: solid;
  padding: 8px;
  text-align: center;
}
table.customTableTwo td,
table.customTableTwo th {
  border-width: 2px;
  border-color: #555;
  border-style: solid;
  padding: 8px;
}

table.customTableOne,
table.customTableTwo thead {
  background-color: #fff;
}

/***************/
/*SUBMIT FORM*/
/***************/
/*FORM*/
form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f1faf6;
  text-align: center;
}
form h1,
h2 {
  color: #162920;
  margin-bottom: 0.8rem;
}
input,
textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #162920;
  outline: none;
}
input::placeholder {
  color: #666;
}
.checkbox-container {
  display: grid;
  grid-template-columns: 0.05fr 0.95fr;
  align-items: center;
  margin-bottom: 1rem;
}
.label-text {
  font-size: 1.6rem;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #162920;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s;
}
button:hover {
  color: #63b992;
}
/***************/
/*FOOTER SECTION*/
/***************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  background-color: #162920;
  color: #fff;
  transition: transform 1s, opacity 1s;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #fff;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #63b992;
}
